.remove_data_enter{
    display: flex;
    font-family: 'Open Sans';
}

.remove_data_enter > div{
    margin-top: 4px;
}

.remove_data_enter > input{
    font-family: 'Open Sans';
    font-size: 18px;
    padding: 5px 8px;
    width: 250px;
    border: 2px solid;
    margin-left: 10px;
}

.remove_data_enter > button{
    padding: 0px 20px;
    font-family: 'Open Sans';
    color: white;
    font-weight: bold;
    background-color: black;
    border: none;
    font-size: 20px;
}

.remove_type{
    text-transform: capitalize;
}
