.topbar_main{
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.face_div > img{
    height: 55px;
}

.download_all{
    margin-left: 67%;
}

.police_name > p{
    text-transform: uppercase;
}

.fa-bell{
    cursor: pointer;
}

.topbar_main > div > i{
    font-size: 26px;
    margin-right: 45px;
}

.download_all > i{
    transform: translateY(12px);
}

.notification > i{
    transform: translateY(14px);
}